.admin-job-content {
    margin: 50px auto;
}
.condition-form {
    max-width: 80%;
    margin: 0 auto;
}
.list-result {
    margin-top: 50px;
}
.group-select {
    display: flex !important;
    justify-content: center;
}
.group-select select {
    margin: 0 10px 0 10px;
    width: 100%;
}
