.list-city-content, .cities-vietnam, .cities-iternational{ 
    margin: 50px auto;
}
.cities-vietnam .card, .cities-international .card { 
    text-align: center;
}
.industry-list {
    margin: 50px auto;
}
.industry-list .card{
    text-align: center;
}
