<!-- <p>Welcome <%= @email %>!</p> -->

<p>Your's on your way!</p>
 
<p>Let's confirm your email address.</p>

<p>By clicking on the following link, you are confirming your email address  and agreeing to VeNJOB's Terms of Service.</p>
<p><%= link_to 'Confirm my account', "#{show_account_user_registrantation_url}?code=#{@token}" %></p>
<p>Best,</p>

