.my-content {
    margin: 50px auto;
    max-width: 70%;
}
.info-content {
    margin: 50px auto;
    max-width: 70%;
}
.info-content .button button {
    width: 150px;
}
.info-content .button {
    display: flex;
    justify-content: center;
}

