.register1-content {
    max-width: 650px;
    margin: 0 auto;
}
.register2-content p {
    max-width: 60%;
    margin: 30px auto;
    font-size: 24px;
}
.register3-content {
    max-width: 80%;
    margin: 50px auto;
}
.register3-form {
    max-width: 70%;
    margin: 30px auto;
}
