<div class="register2-content">
  <h3 class="text-center mt-4">Register</h3>
  <div class="mt-5">
  <p>Thank you for register our service, an confgirmation email with registration link has been sent to your email.</p>

  <p>Please check your email within 24 hours. Please note that the registreation link is only valid for 24 hours.</p>

  <p>Over that period, you will have to register your email again.</p>

  </div>
</div>
