<div class="job-apply">
  <div class="ribbon">
    <div class="pentagon-disable"><div class="ribbon-content"><p class="fa-solid-circle">1</p><p>New</p></div></div>
    <div class="pentagon-disable"><div class="ribbon-content"><p class="fa-solid-circle">2</p><p>Confirm</p></div></div>
    <div class="pentagon-enable"><div class="ribbon-content"><p class="fa-solid-circle">3</p><p>Finish</p></div></div>
  </div>
  <div class="done-content">
    <p>Thank you for apply</p>
    <%= link_to 'Back to TOP page', '/', class: 'mt-4'%> 
  </div>
</div>
