.job-detail-content {
    margin-top: 50px;
}
.job-detail-main-content {
    margin-top: 50px;
    margin-bottom: 50px;
}
.job-detail-main-content h2 {
    margin-bottom: 50px;
}
.job-detail-content .button a ,.job-detail-content .button button{
    width: 80%;
}
.job-detail-content a {
    text-decoration: none;
}

.job-detail-main-content p {
    white-space: pre-line;
}
